<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<p th:unless="${items} and ${items.size()}">No items.</p>

<table class="table">

    <tr>
        <th>Item Name</th>
        <th>Item Description</th>
        <th>Type</th>
    </tr>

    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.type.name}"></td>
    </tr>

</table>

</body>
</html>